# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Python/.idea/misc.xml
Python/.idea/modules.xml
Python/.idea/Python.iml
Python/.idea/vcs.xml
Python/.idea/workspace.xml
Python/iMath/__pycache__/Bracketing.cpython-36.pyc
Python/iMath/__pycache__/JG.cpython-36.pyc
Python/iMath/__pycache__/Matrix.cpython-36.pyc
Python/iMath/__pycache__/LMBFGS.cpython-36.pyc
Python/iMath/__pycache__/PointsGenerator.cpython-36.pyc
Python/systems/__pycache__/BaseSystem.cpython-36.pyc
Python/systems/__pycache__/System2dHenon.cpython-36.pyc
.idea/misc.xml
.idea/modules.xml
.idea/PepeSandBox.iml
.idea/vcs.xml
.idea/workspace.xml
Python/iMath/SpreadBoxSearch/__pycache__/Box.cpython-36.pyc
Python/iMath/SpreadBoxSearch/__pycache__/SpreadBoxSearch.cpython-36.pyc
Python/.idea/vcs.xml
*.pyc
Python/iMath/Search/__pycache__/KDTree.cpython-36.pyc
*.pyc